.steam-box {
    position: relative;
    margin-top: 15%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    padding: 40px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.steam-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.steam-box .input-box {
    position: relative;
}

.steam-box .input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.steam-box .input-box label {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.steam-box .input-box input:focus~label,
.steam-box .input-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.but {
    background: transparent;
    border: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#toggle {
    position: absolute;
    top: 35%;
    right: 20px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
}

#toggle.hide {
    background-size: cover;
}